*{
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
	
	
}

/* Navigation Bar */

	#main{
		width:100%;
		height:10vh;
		background-color: whitesmoke;
		opacity: 0.8;
		top:0px;
		z-index:100;
		overflow: hidden;
		position: fixed;
		
		box-sizing: border-box;
		border-bottom: 2px solid lightgray;
		/* background-image: url("plant.jpg"); */
		/* background-repeat: no-repeat; */
	}

	
	#main a>img, .imglink{
		float:left;
		height: 10vh;
		width: auto;
		display:block;
		padding:0px 10px;
	}	

	nav {
	width: 100%;
	height: 80px;
	background-color: whitesmoke;
	line-height:80px;

	}

	nav ul{
	float: left;
	margin-left:10px;
	}

	nav ul li{
	list-style-type:none;
	display: inline-block;
	transition: 0.8s all;
	

	}

	nav ul li:hover{
	background-color:#3fac14;
	

	}

	nav ul li a{
	text-decoration:none;
	color:rgb(0, 0, 0);
	padding:30px;
	margin: 0px;
	}

	/* nav ul li.current{
		background-color:#3fac14;
		
	} */
	.current{
		background-color:#3fac14;
		color:white;
	}
	#loginbutton{
		width: 150px;
		float: right;
		/* background-color:#ffffff; */
		text-align: center;
		
	}

	#loginbutton:hover{
		cursor: pointer;
		
	}

	#loginbutton > p{
		font-size: 1.2em;

	}

	#loginbutton > p:hover{
		color:rgb(255, 255, 255);
	}

	/*Custom scrollbar(Only works for chrome)*/

	/* width */
	::-webkit-scrollbar {
	width: 20px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: green;
	border-radius: 10px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #017013;
	}

#logincontainer{
	width: 100%;
	height: 100vh;
	position: fixed;
	opacity: 0.9;
	background-color:black;
	display: none;
	z-index: 1000;


}

#login{
	background-color:white;
	opacity: 1;
	border-radius: 1%;
	display: none;
	
	z-index: 1001;
	
	width: 30%;
	height: 50vh;

	position: fixed;
	top:15%;
	left:50%;
	transform: translateX(-50%);

	text-align: center;
	padding: 20px;
	padding-top: 130px;




}

input{
	width: 100%;
	height: 50px;
	margin: 10px 0px;
	font-size: 1.5em;

}

input[type="button"]{
	margin: 20px 0px;
	background-color:whitesmoke;
	border: 2px solid lightgray;
	color: rgb(146, 146, 146);

}

#login form a{
	text-decoration: none;
}

input[type="button"]:hover{
	border-color: greenyellow;
	color:greenyellow;
	background-color:white;
	cursor: pointer;
	
}



#login hr{
	margin: 0px auto;
}
p.close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: lightgray;
	font-size: 30px;
}

p.close:hover{
	cursor: pointer;
}

#bgcolor{
	background-color: white;
}

h1 {
	text-align: center;
}

#imggallery{
	margin-top: 100px;
	margin-bottom: 5px;
	margin-left: 50px;
}

div p a{
	text-decoration: none;
}

#image{
	float: left;
	margin-bottom: 10px;
	width: 180px;
	height: 100px;
	margin-right: 10px;
	border: 1px solid black;
    transition: border-width 0.6s linear;
}

#image:hover {
	border: solid 5px red;
	
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

img {
	vertical-align: middle; 
	width: 600px;
	height: 600px;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
	top: 600px;
	margin: 100px;
	position: absolute;
}

#minigame {
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1050px;
	height: 440px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 61px;
	margin-bottom: 100px;
	border: 1px solid black;
	font-size: 150%;
}

#minigame p {
	text-align: center;
	font-family: Georgia;
}

#gametitle {
	text-align: center;
	font-family: Georgia;
	color: orange;
}	

#moveset {
	top: 900px;
	margin: 100px;
	margin-left: 400px;
	position: absolute;
	border: 1px solid black;
}

#moveset button {
	padding: 10px;
	border: 1px solid black;
	background-color: green;
	color: white;
	font-family: Georgia;
	border-radius: 10px;
	cursor: pointer;
}

#difficulty li{
	display: inline-block;
	list-style-position: inside;
	margin-left: 170px;
	margin-top: 10px;
}

#easy {
	padding: 10px;
	border: 1px solid black;
	background-color: green;
	color: white;
	font-family: Georgia;
	font-size: 150%;
	border-radius: 10px;
	cursor: pointer;
}

#medium {
	padding: 10px;
	border: 1px solid black;
	background-color: orange;
	color: white;
	font-family: Georgia;
	font-size: 150%;
	border-radius: 10px;
	cursor: pointer;
}

#hard {
	padding: 10px;
	border: 1px solid black;
	background-color: red;
	color: white;
	font-family: Georgia;
	font-size: 150%;
	border-radius: 10px;
	cursor: pointer;
}

#highscore {
	padding: 10px;
	border: 1px solid black;
	background-color: blue;
	color: white;
	font-family: Georgia;
	font-size: 150%;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	left: 240px;
}

#easy:hover {
	background-color: white;
	color: green;
}

#medium:hover {
	background-color: white;
	color: orange;
}

#hard:hover {
	background-color: white;
	color: red;
}

#highscore:hover {
	background-color: white;
	color: blue;
}

#easystyle {
	padding: 10px;
	border: 1px solid black;
	background-color: green;
	color: white;
	font-family: Georgia;
	font-size: 100%;
	border-radius: 10px;
	cursor: pointer;
}

#mediumstyle {
	padding: 10px;
	border: 1px solid black;
	background-color: orange;
	color: white;
	font-family: Georgia;
	font-size: 100%;
	border-radius: 10px;
	cursor: pointer;
}

#hardstyle {
	padding: 10px;
	border: 1px solid black;
	background-color: red;
	color: white;
	font-family: Georgia;
	font-size: 100%;
	border-radius: 10px;
	cursor: pointer;
}

#instructionseasy {
	display: none;
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1050px;
	height: 440px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 61px;
	margin-bottom: 100px;
	border: 1px solid black;
	text-align: center;
	font-size: 180%;
	font-family: Georgia;
}

#instructionsmedium {
	display: none;
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1050px;
	height: 440px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 61px;
	margin-bottom: 100px;
	border: 1px solid black;
	text-align: center;
	font-size: 180%;
	font-family: Georgia;
}

#instructionshard {
	display: none;
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1050px;
	height: 440px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 61px;
	margin-bottom: 100px;
	border: 1px solid black;
	text-align: center;
	font-size: 180%;
	font-family: Georgia;
}

#mycountdown {
	color: red;
	padding: 10px;
	font-weight: bold;
}

#gameover {
	display: none;
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1030px;
	height: 250px;
	position: relative;
	bottom: 237.5px;
	right: 11px;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
}

#leaderboard {
	background-color: rgb(50,205,50);
	padding: 10px;
	width: 1050px;
	height: 440px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 61px;
	margin-bottom: 100px;
	border: 1px solid black;
	font-size: 150%;
	display: none;
}

#mainmenu {
	padding: 10px;
	border: 1px solid black;
	background-color: blue;
	color: white;
	font-family: Georgia;
	font-size: 150%;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	left: 360px;
	top: 60px;
}

#mainmenu:hover {
	background-color: white;
	color: blue;
}

#container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid black;
	left: 250px;
	top: 10px;
}

.name {
	position: relative;
	display: inline-block;
	width: 50%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}

.difficulty {
	position: relative;
	display: inline-block;
	width: 25%;
}

.nameheader {
	font-weight: bold;
	font-family: Georgia;
	display: inline-block;
	padding-top: 5px;
}

.scoreheader { 
	font-weight: bold;
	font-family: Georgia;
	display: inline-block;
	padding-left: 120px;
	padding-top: 5px;
}

.difficultyheader {
	font-weight: bold;
	font-family: Georgia;
	display: inline-block;
	padding-left: 100px;
	padding-top: 5px;
}

#leaderboard h1 {
	font-weight: bold;
	font-family: Georgia;
}