*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
/* *, :after, :before {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

body{
    font-family: "Exo 2","Helvetica Neue",Tahoma,Arial,"Hiragino Kaku Gothic ProN","Microsoft YaHei","Apple SD Gothic Neo",sans-serif;
    background-color: rgb(218, 218, 218);
	background-image: url("../images/Backgrounds/Greenwhite2.png")
}
/* #poll{
    font-size:20px;
    font-weight: bold;
}
#help{
    font-size:20px;
    font-weight: bold;
    position: relative;
    bottom:25px;
} */

/* Img resize */
#topnav img{
    height:125px;
    width: 250px;
    display: block;
    margin: 10px auto;
}


#container{
    width: 98.5%;
	min-height: 50vh;

	background-color:whitesmoke;

	padding: 20px 40px;
    margin: auto;
    margin-top: 12vh;

	border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#containera{
    width: 98.5%;
	min-height: 50vh;

	background-color:whitesmoke;

	padding: 20px 40px;
    margin: 20px auto;
    

	border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#pollutionlist{
    border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    padding:20px;
}



#daytrivia{
    border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#methodlist{
    border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}