*{
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
	
	
}

/* Navigation Bar */

	#main{
		width:100%;
		height:10vh;
		background-color: whitesmoke;
		opacity: 0.8;
		top:0px;
		z-index:100;
		overflow: hidden;
		position: fixed;
		
		box-sizing: border-box;
		border-bottom: 2px solid lightgray;
		/* background-image: url("plant.jpg"); */
		/* background-repeat: no-repeat; */
	}

	
	#main a>img, .imglink{
		float:left;
		height: 10vh;
		width: auto;
		display:block;
		padding:0px 10px;
	}	

	nav {
	width: 100%;
	height: 80px;
	background-color: whitesmoke;
	line-height:80px;

	}

	nav ul{
	float: left;
	margin-left:10px;
	}

	nav ul li{
	list-style-type:none;
	display: inline-block;
	transition: 0.8s all;
	

	}

	nav ul li:hover{
	background-color:#3fac14;
	

	}

	nav ul li a{
	text-decoration:none;
	color:rgb(0, 0, 0);
	padding:30px;
	margin: 0px;
	}

	/* nav ul li.current{
		background-color:#3fac14;
		
	} */
	.current{
		background-color:#3fac14;
		color:white;
	}
	#loginbutton{
		width: 150px;
		float: right;
		/* background-color:#ffffff; */
		text-align: center;
		
	}

	#loginbutton:hover{
		cursor: pointer;
		
	}

	#loginbutton > p{
		font-size: 1.2em;

	}

	#loginbutton > p:hover{
		color:rgb(255, 255, 255);
	}

	/*Custom scrollbar(Only works for chrome)*/

	/* width */
	::-webkit-scrollbar {
	width: 20px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: green;
	border-radius: 10px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #017013;
	}

#logincontainer{
	width: 100%;
	height: 100vh;
	position: fixed;
	opacity: 0.9;
	background-color:black;
	display: none;
	z-index: 1000;


}

#login{
	background-color:white;
	opacity: 1;
	border-radius: 1%;
	display: none;
	
	z-index: 1001;
	
	width: 30%;
	height: 50vh;

	position: fixed;
	top:15%;
	left:50%;
	transform: translateX(-50%);

	text-align: center;
	padding: 20px;
	padding-top: 130px;




}

input{
	width: 100%;
	height: 50px;
	margin: 10px 0px;
	font-size: 1.5em;

}

input[type="button"]{
	margin: 20px 0px;
	background-color:whitesmoke;
	border: 2px solid lightgray;
	color: rgb(146, 146, 146);

}

#login form a{
	text-decoration: none;
}

input[type="button"]:hover{
	border-color: greenyellow;
	color:greenyellow;
	background-color:white;
	cursor: pointer;
	
}

#login hr{
	margin: 0px auto;
}

p.close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: lightgray;
	font-size: 30px;
}

p.close:hover{
	cursor: pointer;
}

#bgcolor{
	background-color: rgb(0,100,0);
}

div p{
	background-color: rgb(0, 255, 0);
	padding: 10px;
	border: 1px solid black;
	width: 700px;
}

div p a{
	text-decoration: none;
}

#imggallery{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 50px;
}

#image{
	float: left;
	border: 1px solid black;
	margin-bottom: 10px;
	width: 180px;
	height: 100px;
	margin-right: 10px;
}

#image:hover {
	border: 1px solid red;
}

#prompt{
	margin-top: 150px;
	margin-left: 200px;
}

#trivia{
	background-color: rgb(52, 119, 4);
	font-family: Verdana;
}


#edcaption{
	background-color: rgb(52, 119, 4);
	font-family: Verdana;
	border: none;
}

span.number{
	font-weight: bold;
	font-style: italic;
	color: red;
}

#play{
    background-color: rgb(52, 119, 4);
    border: none;
	margin-bottom: 50px;
}

div button{
	display: block;
}

#myDIV,  #myDIV2, #myDIV3, #myDIV4, #myDIV5, #myDIV6, #myDIV7, #myDIV8, #myDIV9, #myDIV10{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lime;
    margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
}

textarea {
	width: 700px;
	margin-left: 40px;
}

#buttons {
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}
