* {
	padding:0px;
	margin:0px;
}
html {
	font-family:Verdana, sans-serif;
	text-align:center;
}
/* table row, head and data */
tr, th, td {
	border:1px solid black;
	border-radius:1%;
	border-collapse:collapse;
	text-align:center;
	width:300px;
	height:60px;
	margin-left:200px;
}
/* the entire calendar table */
table{
	border:1px solid lightgray;
	border-radius: 1%;
	border-collapse:collapse;
	text-align:center;
	width:300px;
	height:60px;
	/* margin-left:200px; */
	box-shadow: 0px 0px 5px black;
	
}
/* th and td with id:weekend */
#weekend{
	color:red;
}
div{
	margin-bottom:80px;
}
/* table head for the month in the year */
#month{
	font-size:2em;
	font-weight:bold;
	background-color:#white;
	border:1px solid black;
	padding:20px;
	border-bottom:1px solid black;
	text-shadow:3px 3px 4px #737373;
}
/* th and td in the table */
th, td{
	padding:10px 30px 10px 30px;
	background-color:white;
	font-size:18px;
}
/* table data which is a publich holiday */
.PH{
	background-color:red;
	color:black;
	padding:2px;
}
/* words inside a table data */
footer{
	font-size:13px;
}
/* td on hover inside the table */
tr > td:hover{
	color:#008000;
	background-color:#ffffff;
}
/* change color of font on hover */
td > a.weekend:hover, td > a:hover{
	color:#008000;
}
/* links to click inside the td */
a{
	text-decoration:none;
	color:black;
}
/* change font color of links with class:weekend  */
a.weekend{
	color:red;
}
/* td of the previous and next month */
#lastmth, #nextmth{
	color:#a6a6a6;
}
/* change color of font when hover for the last and next month */
#lastmth:hover, #nextmth:hover{
	color:green;
}
/* change the background color of td with class:lastmth and nextmth */
td.lastmth, td.nextmth{
	background-color:#666666;
}
/* td with id:holiday */
#holiday{
	background-color:#b3ffff;
}
/* on hover of td id:holiday */
#holiday:hover{
	background-color:white;
}
/* buttons to go next month and previous month */
#previous, #next{
	padding:10px 10px 10px 10px;
	border-radius:1%;
	background-color: whitesmoke;
	border: 1px solid lightgray;
	
}
/* button to go previous month */
#previous{
    float:left;
    font-weight:bold;
    font-size:20px;	
}
/* button to go next month */
#next{
	float:right;
	font-weight:bold;
	font-size:20px;	
}
/* on hover on the buttons it will change the background color */
#next:hover, #previous:hover{
	background-color:lightgray;
	color:white;
	box-shadow: 0px 0px 5px black;
}
/* transform all the td inside the table */
td{
	transition:transform .2s;
}
/* change the td when on hover */
td:hover{
	transform:scale(1.3);
	box-shadow: 0px 0px 5px black;
}
/* change the background color and color of td with id:weekend */
tr > td#weekend:hover{
	background-color:#ffc5c1;
	color:white;
}
/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
	border:5px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #017013; 
}
/* the div which holds the calendar */
#calendar{
	position: absolute;
	top:10vh;
	left:50%;
	transform: translateX(-50%);
	min-height:100vh;
}
.dropdown {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

#table{
	max-height:100vh;
}
.container{
	float:right;
	border:2px solid black;
	min-width:390px;
	min-height:160px;
	border:1px solid lightgray;
	border-radius: 1%;
	text-align:center;
	box-shadow: 0px 0px 5px black;
	margin-top:70px;
}
#PH > p, p > footer > p{
	text-align:center;
	font-weight:bold;
}
#PH{
	background-color:red;
	width:70px;
	height:40px;
	padding:10px;
	margin-left:40px;
	border:1px solid black;
}
#holidays > p{
	text-align:center;
	margin-top:6px;
	font-weight:bold;
}
#holidays{
	background-color:#b3ffff;
	width:70px;
	height:40px;
	padding:10px;
	margin-left:40px;
	border:1px solid black;
	margin-top:20px;
}
#details{
	
}
#lastORnext{
	background-color:#666666;
	width:70px;
	height:40px;
	padding:10px;
	margin-left:40px;
	border:1px solid black;
	margin-top:20px;
}