body {
	background-color: rgb(218, 218, 218);
}	

/* Slideshow */

#container{
	width: 100%;
	top:10vh;
	background-color: #fff;
	max-height:80vh;
	margin:auto;
	position: relative;
	overflow: hidden;
	
	top:12vh;
	width: 98.5%;
	border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #000;
	/* border-top: 3px solid green;
	border-bottom: 3px solid green; */
}
#resizer{
    background-color:black;
    width: 70%;
    height: 80vh;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    
}

#slideshow{
	height:80vh;
	width:500%;
	margin-top: 10px;	
	background-color: black;
	animation: left 15s infinite;
}

.map{
	height: 100%;	
	width: 20%;
	
}

	
/*Animations */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes left{
	0%{
		margin-left:0%;
	}
	24%{
		margin-left:0%;
	}
	25%{
		margin-left:-100%;
	}
	49%{
		margin-left:-100%;
	}
	50%{
		margin-left:-200%;
	}
	74%{
		margin-left:-200%;
	}
	75%{
		margin-left:-300%;
	}
	99%{
		margin-left:-300%;
	}
	99.01%{
		margin-left:0%;
	}

}

/* Test */

#test{
    width: 98.5%;
	position: relative;
	margin: 15vh auto;
	margin-bottom: 5vh;
}


/* FAQ */

#faq {
		overflow:auto;
		width: 60%;
		height: 80vh;
		box-sizing: border-box;
		border: 2px solid lightgray;
		box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
		border-radius: 1%;
		left:0px;
		margin-top: 2vh;
		background-color: rgb(255, 255, 255);
		position: relative;

}


#faq h1{
	margin-top: 20px;
	text-align: center;
}

.question1 p, .question2 p, .question3 p, .question4 p{
	text-align: left;
	color: black;
	font-size: 1.5rem;
	
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

p.pointer{
	font-weight: bolder;
	font-size: 2em;
	right:2%;
}

.pointer:hover, .back:hover{
	cursor: pointer;
	color:green;
}

p.back{
	font-weight: bolder;
	font-size: 2em;
	right:2%;
	display:none;
}




.question1, .question2, .question3, .question4{
	border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 1%;
	margin: 3% auto;
	width: 90%;
	height: 80px;
	background-color: lightgray;
	position: relative;
}



/* Trivia*/

.trivia{
    position: absolute;
	width: 38%;
    border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	top:0vh;
	right: 0px;
	height: 80vh;
	background-color: rgb(255, 255, 255);

	/* background-color: #000; */

}
	
.trivia h1{
	margin-top: 20px;
	text-align: center;
	color: green;
	font-size: 40px;
}

.trivia p{
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	/* color: #fff; */
	transition: all .5s ease;
}

/* Earth Day*/

#earthday{
	width: 98.5%;
	height: 100vh;
	border: 2px solid lightgray;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin:2vh auto;
	background-color: rgb(255, 255, 255);

}
#earthday > iframe{
	width: 50%;
	height: 60%;
	margin: 3vh auto;
	display: block;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	
}
#earthday > h1, #earthday p{
	text-align: center;
	width: 60%;

	margin: auto;
}

#earthday a{
	text-decoration: none;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	border:1px solid black;
	padding: 10px;
	color:black;
}

#earthday a:hover{
	border: 1px solid lightgray;
	color: lightgray;
}


