#overlay{
    height: 100%;
    width: 100%;
    background-color:rgb(24, 24, 24);
    position: fixed;
    left:0px;
    top:0px;
    z-index: 9001;
}

#spinner{
    width:100px;
    height:100px;

    /* border: 2px solid lightgray; */
    border-radius: 50%;
    border-top: 4px solid green;
    border-right: 4px solid transparent;

    position:absolute;
    top:50%;
    margin-top:-50px;
    left:50%;
    margin-left: -50px;

    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
