*{
    padding: 0px;
    margin: 0px;
}

#map{
    height: 90vh;
    width: 80%;
    top:10vh;
    float: right;
}

/* Scroll */

#scroll{
    float: left;
    margin-top: 10vh;
    height: 90vh;
    width: 20%;
    background-color: white;

    box-sizing: border-box;
    border-right: 3px solid lightgray;
}

#scroll > form {
    margin: 5px auto;
    width: 80%;

    padding: 2px;
    height: 18px;
    
}

.search{
    width: 100%;
    float: left;
    margin: 0 auto;
}